%header 
    .header__top
        .header__message
            グループを作成しました
    .header__right
        .header__title
            sample
            .header__contents
                Members: inu neko
    .header__left
        .header__text
            inu
            .header__icon
                =link_to "#", class: "header__iconedit" do
                    = fa_icon 'edit'
                =link_to "#", class: "header__icon--cog" do
                    = fa_icon 'cog'
.contents
    .contents__left
        .contents__title
            sample
        .contents__text
            おはようございます
    .contents__main
        .contents__name1
            neko
        .contents__message1
            楽しもう
        .footer
            .input-box
                %form{:class=>"new_message",:id=>"new_message"}
                %input{:placeholder=>"type a message",:class=>"input-box__text",:type=>"text",:name=>"message[content]" ,:id=>"message_content"}
            .input-box__btn
                %label{:for=>"message_image"}
                %i{:class=>"fa fa-image"}
                %input{:class=>"input-box__image__file",:type=>"file",:name=>"message[image]",:id=>"message_image"}
            .form-btn
                %input{:type=>"submit",:name=>"commit",:value=>"Send",:class=>"submit-btn",:data=>"Send"}

                        

            
